#account{
  float: right;
  padding: .5em;
  border: 1px solid white;
}
body{
  font-family: 'Quicksand', sans-serif;
}
header{
  background-color: #474e59;
  box-sizing: border-box;
  color:white;
  padding: 2em;
  width: 100%;
}
.filmIcon{
  font-size: 2em;
  padding: 0;
  height: auto;
}
.left{
  float:left;
}
.modal-backdrop{
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
}
.movie img{
  margin:.5em;
  width: 8em;
  -webkit-box-shadow: 5px 5px 5px 0px #757575;
  -moz-box-shadow: 5px 5px 5px 0px #757575;
      box-shadow: 5px 5px 5px 0px #757575;
}
.right{
  float:right;
}
section {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0,0,0,0.5);
  z-index: 10;
  opacity:1;
  -webkit-transition: opacity 400ms ease-in;
  -moz-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
}
section > div {
  color: white;
  width: 75%;
  position: relative;
  margin: 5% auto;
  padding: 3em;
}

ul{
  margin: auto;
  width: 75%;
}

ul li{
  display: inline-block;
  color:red;
}